@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <link href="~/Content/lib/boostrapv4/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
<div class="container">
    @Html.Partial("_NavBar")
    @RenderBody()
    <!-- Footer -->
    <footer>
        <hr/>
        <!-- Copyright -->
        <p class="text-left">© 2020 Copyright</p>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>

<script src="~/Content/lib/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/lib/boostrapv4/js/bootstrap.js"></script>
</body>
</html>
